.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-form{
    margin-top: 5em;
    width: 50%;
    
}
.register-form__input{
    margin: 1em;
}
.register-form__button{
    margin: 1em;
}